@font-face {
    font-family: LTCDeepdene;
    src: url("font/LTC Deepdene W00 Regular.ttf");
  }
  
  @font-face {
    font-family: rosecaps;
    src: url("font/rosecaps.ttf");
  }

body {
    margin: 0;
    padding: 0;
    font-family: LTCDeepdene;
}

@tailwind base;
@tailwind components;
@tailwind utilities;