@font-face {
    font-family: cmunrm;
    src: url(font/cmunrm.ttf);
}

@font-face {
    font-family: cmunbi;
    src: url(font/cmunbi.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: cmunrm;
}

@tailwind base;
@tailwind components;
@tailwind utilities;